<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="FootballStatsEntities" connectionString="metadata=res://*/FoortballStats.csdl|res://*/FoortballStats.ssdl|res://*/FoortballStats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=FootballStats;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>