@using System.Globalization
@model BettorKnow.Models.FixtureCountModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ready to go</h2>
<div>
    The number of fixtures found was @Model.TotalFixtures.ToString(CultureInfo.InvariantCulture)
</div>
<br/>
<div>
     @Model.Error.ToString(CultureInfo.InvariantCulture)
</div>
