<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FootballStatsEntities" connectionString="metadata=res://*/FoortballStats.csdl|res://*/FoortballStats.ssdl|res://*/FoortballStats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=FootballStats;Persist Security Info=True;uid=web1;pwd=Password1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
    <basicHttpBinding>
      <binding name="TransportSecurity">
        <security mode="Transport">
          <transport clientCredentialType="None" />
        </security>
      </binding>
    </basicHttpBinding>
</bindings>     
    <behaviors>
      <serviceBehaviors>
        <behavior name="PremierStatisticsServiceBehavior">
        <serviceMetadata httpsGetEnabled="true" httpsGetUrl="" />
        <serviceDebug includeExceptionDetailInFaults="true"/>
    </behavior>
  </serviceBehaviors> 
    </behaviors>
    <services>
    <service name="PremierStatistics.PremierStatistics" behaviorConfiguration="PremierStatisticsServiceBehavior">
      <endpoint address="" 
                binding="basicHttpBinding"
                bindingConfiguration="TransportSecurity" 
                contract="PremierStatisticsLib.Service.IPremierStatistics" />
        
      <endpoint address="mex"
                binding="mexHttpsBinding"
                contract="IMetadataExchange" />      
    </service>
  </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
